---
const origin = Astro.url.origin;
---

<!doctype html>
<html lang="ja">
  <head>
    <title>{`Redirecting to: ${origin}/blog`}</title>
    <meta http-equiv="refresh" content=`0;url=${origin}/blog` />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href=`${origin}/blog` />
  </head>
  <body>
    <a href=`${origin}/blog`>
      Redirecting from <code>/blog/tags.html</code> to <code
        >{`${origin}/blog`}</code
      >
    </a>
  </body>
</html>
