---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import icon from "@/assets/kripcat.jpg";
import Article from "@/components/Article.astro";
import AstroFigure from "@/components/AstroFigure.astro";
import AstroLink from "@/components/AstroLink.astro";
import Pager from "@/components/Pager.astro";
import Layout from "@/layouts/Layout.astro";

export interface Props {
  post: CollectionEntry<"page">;
}

export async function getStaticPaths() {
  const posts = await getCollection("page");

  return posts.map((post) => {
    const slug = post.slug;
    return {
      params: {
        slug,
      },
      props: {
        post,
      },
    };
  });
}

const { Content } = await Astro.props.post.render();

const { post } = Astro.props;

export const components = {
  a: AstroLink,
  figure: AstroFigure,
};
---

<Layout
  title={post.data.title}
  description={post.data.description}
  path={`/${post.slug}`}
  pagefind={true}
  og={{
    enabled: true,
  }}
>
  <main class="post-main">
    <header>
      <div>
        <Image
          src={icon}
          alt="icon"
          width={150}
          height={150}
          class="icon"
          loading="eager"
          format="avif"
          quality={40}
        />
      </div>
      <span class="title">
        <h1>haxibami</h1>
      </span>
    </header>
    <Article>
      <Content components={components} />
    </Article>
    <Pager topPath="/" />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem 0;
    gap: 3rem;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .icon {
    border-radius: 9999px;
    object-fit: cover;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
