---
import { getEntry } from "astro:content";

import Rule1 from "@/components/Rule1.mdx";
import Rule2 from "@/components/Rule2.mdx";
import Conclusion from "@/components/Conclusion.mdx";
import Layout from "@/layouts/Layout.astro";

import "katex/dist/katex.min.css";

const meta = await getEntry("data", "data");
const { title, description } = meta!.data.top;
---

<Layout
  title={title}
  description={description}
  pagefind={true}
  header={false}
  footer={false}
  og={{
    enabled: true,
  }}
>
  <header>
    <div>
      <h1>
        <span class="tenten blink">{title[0]}</span><span class="tenten blink"
          >{title[1]}</span
        >{title.substring(2)}
      </h1>
      <code>h6i.org</code>
    </div>
    <nav>
      <a href="/about">
        <div>（About）</div>
      </a>
      <a href="/blog">
        <div>（Blog）</div>
      </a>
    </nav>
  </header>
  <div id="content">
    <figure>
      <figcaption>Rule 1.</figcaption>
      <Rule1 />
    </figure>
    <figure>
      <figcaption>Rule 2.</figcaption>
      <Rule2 />
    </figure>
    <figure id="conclusion">
      <figcaption>Conclusion.</figcaption>
      <Conclusion />
    </figure>
  </div>

  <style>
    header {
      grid-row: top / content-start;
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
    }

    #content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-auto-rows: min-content;
      gap: 2rem;
      align-content: center;
    }

    figure {
      border-block: 1.5px solid var(--ui-border);
      padding: 1rem;
      display: grid;
      grid-template-rows: auto 1fr;

      &#conclusion {
        grid-column: 1 / -1;
      }
    }

    figcaption {
      font-size: 1.25em;
      font-weight: bold;
      text-decoration-line: underline;
      text-underline-offset: 4px;
      text-decoration-thickness: 1px;
    }

    :global(.katex-display) {
      font-size: 1.5em;
      display: grid;
      align-items: center;
    }

    h1 {
      font-size: 1.5em;
    }

    h2 {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 1rem;
      align-items: center;
    }
  </style>
</Layout>
