---
import type { CollectionEntry } from "astro:content";
import type { Page } from "astro";

import Budoux from "@/components/Budoux.astro";
import Pager from "@/components/Pager.astro";
import Tags from "@/components/Tags.astro";

interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<>
  <ul>
    {
      page.data.map((post) => {
        const { id, data, collection } = post;
        return (
          <li>
            <article>
              <a href={`/${collection}/posts/${id}`}>
              <span class="date">
                <time datetime={data.date.toISOString()}>
                  {new Intl.DateTimeFormat("en-US", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  }).format(post.data.date)}
                </time>
                {data.lastmod && (
                  <time datetime={data.lastmod.toISOString()}>
                    {` — ${new Intl.DateTimeFormat("en-US", {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    }).format(post.data.lastmod)} Updated`}
                  </time>
                )}
              </span>
              <Budoux><h2>{data.title}</h2></Budoux>
              <Budoux><span class="description">{data?.description}</span></Budoux>
              </a>
              <span>
                <Tags tags={data.tags} collectionKey={collection} />
              </span>
            </article>
          </li>
        );
      })
    }
  </ul>
  <Pager page={page} />
</>

<style>
  ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  article {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 0.5rem;
  }

  li {
    border-block-start: 1px solid var(--fg75);
    &:last-of-type {
      border-block-end: 1px solid var(--fg75);
    }
  }

  .date {
    line-height: 1.25em;
    color: var(--fg75);
  }

  h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 6em; /* fallback */
  }

  a:hover {
    h2 {
      text-decoration: underline solid 2px;
    }
  }

  .description {
    font-size: 0.9em;
    line-height: 1.25em;
    color: var(--fg75);
  }
</style>
