---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

import Pager from "@/components/Pager.astro";
import Tags from "@/components/Tags.astro";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<>
  <ul>
    {
      page.data.map((post) => {
        const { slug, data, collection } = post;
        return (
          <li>
            <article>
              <span class="date">
                <time datetime={data.date.toISOString()}>
                  {new Intl.DateTimeFormat("en-US", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  }).format(post.data.date)}
                </time>
                {data.lastmod && (
                  <time datetime={data.lastmod.toISOString()}>
                    {` — ${new Intl.DateTimeFormat("en-US", {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    }).format(post.data.lastmod)} Updated`}
                  </time>
                )}
              </span>
              <a href={`/${collection}/posts/${slug}`}>
                <h2>{data.title}</h2>
              </a>
              <span class="description">{data?.description}</span>
              <span class="tags-container">
                <Tags tags={data.tags} collectionKey={collection} />
              </span>
            </article>
          </li>
        );
      })
    }
  </ul>
  <Pager page={page} />
</>

<style>
  ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;
  }

  article {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.25rem;
    color: var(--secondary);
  }

  .date {
    line-height: 1.25em;
  }

  h2 {
    color: var(--title);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 6em; /* fallback */

    &:hover {
      text-decoration: underline solid 2px;
    }
  }

  .description {
    font-size: 0.9em;
    line-height: 1.25em;
  }
</style>
